$--serif-0: Roboto Slab;
$--serif-1: "Times New Roman";
$--serif-2: serif;
$--sans-0: Apercu;
$--sans-1: Arial;
$--sans-2: sans-serif;
$--mono-0: "Roboto Mono";
$--mono-1: Consolas;
$--mono-2: monospace;