$--title-fontFamily-0: Apercu;
$--title-fontFamily-1: Arial;
$--title-fontFamily-2: sans-serif;
$--title-fontWeight: 700;
$--title-textTransform: uppercase;
$--title-fontSize-0: 3rem;
$--title-fontSize-1: 2.25rem;
$--title-fontSize-2: 1.875rem;
$--title-fontSize-3: 1.125rem;
$--title-fontSize-4: 1rem;
$--title-color-default: #494949;
$--title-color-alt-blue: #204282;
$--title-color-alt-red: #f04c39;
$--title-color-alt-yellow: #fefcb9;
$--title-color-alt-orange: #fc9e12;
$--title-color-alt-gray: #2d3748;
$--subtitle-fontFamily-0: Roboto Slab;
$--subtitle-fontFamily-1: "Times New Roman";
$--subtitle-fontFamily-2: serif;
$--subtitle-fontWeight: 400;
$--subtitle-textTransform: uppercase;
$--subtitle-fontSize-1: 1.5rem;
$--subtitle-fontSize-2: 1.125rem;
$--subtitle-color-default: #494949;
$--subtitle-color-alt-blue: #204282;
$--subtitle-color-alt-red: #f04c39;
$--subtitle-color-alt-yellow: #fcb64d;
$--subtitle-color-alt-gray: #2d3748;
$--label-fontFamily-0: Apercu;
$--label-fontFamily-1: Arial;
$--label-fontFamily-2: sans-serif;
$--label-fontWeight: 700;
$--label-fontSize: .75rem;
$--label-color: #1a202c;
$--eyebrow-fontFamily-0: Apercu;
$--eyebrow-fontFamily-1: Arial;
$--eyebrow-fontFamily-2: sans-serif;
$--eyebrow-fontWeight: 700;
$--eyebrow-fontSize-1: 1.125rem;
$--eyebrow-fontSize-2: .75rem;
$--eyebrow-color: #494949;
$--paragraph-fontFamily-0: Apercu;
$--paragraph-fontFamily-1: Arial;
$--paragraph-fontFamily-2: sans-serif;
$--paragraph-fontWeight-normal: 400;
$--paragraph-fontWeight-bold: 700;
$--paragraph-fontSize-sm: 1.125rem;
$--paragraph-fontSize-md: 1.25rem;
$--paragraph-color-default: #494949;
$--paragraph-color-alt-blue: #204282;
$--paragraph-color-alt-red: #f04c39;
$--paragraph-color-alt-yellow: #fefcb9;
$--paragraph-color-alt-gray: #2d3748;
$--icon-color-gray: #1a202c;
$--icon-fontSize-sm: .875rem;
$--icon-fontSize-md: 1rem;
$--icon-fontSize-lg: 1.25rem;
$--container-maxWidth-large: 1280px;
$--container-maxWidth-small: 768px;
$--container-padding: 1.5rem;
$--queries-screens-xsmall: 419px;
$--queries-screens-small: 639px;
$--queries-screens-mobile: 1023px;
$--queries-screens-desktop: 1024px;